<div class="flexbox-parent" fxLayout="row" fxLayoutAlign="center center" fxFlexFill >
  <div layout="row" layout-align="center center">
    <div flex="25">
      <div class="login-box">
        <mat-toolbar color="primary" class="login-toolbar"><h4>LMS Register</h4></mat-toolbar>
        <form [formGroup]="formGroup" (ngSubmit)="register()" class="form">
          <br>
          <mat-form-field class="form-element">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
              {{ titleAlert }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-label>Repeated password</mat-label>
            <input matInput type="password" placeholder="Repeated password" formControlName="repeatedPassword">
            <mat-error *ngIf="!formGroup.controls['repeatedPassword'].valid && formGroup.controls['repeatedPassword'].touched">
              {{ noMatch }}
            </mat-error>
          </mat-form-field>

          <div class="form-element d-flex">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Register
            </button>

            <a routerLink="/login" class="text-black-50 ml-auto p-2">Log in</a>

          </div>


        </form>
      </div>
    </div>


  </div>
</div>

