<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <img class="navbar-brand ml-3" src="./assets/images/logo.png" width="40">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">University of Cambridge</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/login']">Log in / Register</a>
        </li>
        <li class="nav-item" [hidden]="true">
          <a class="nav-link text-danger">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
