<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

    <div *ngIf="add; else edit" >
      <h3>Add staff</h3>
    </div>

    <ng-template #edit>
      <h3>Edit staff</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input type="date" matInput placeholder="Employment start" formControlName="employmentStart">
        <mat-error *ngIf="!formGroup.controls['employmentStart'].valid && formGroup.controls['employmentStart'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input type="date" matInput placeholder="Employment end" formControlName="employmentEnd">
        <mat-error *ngIf="!formGroup.controls['employmentEnd'].valid && formGroup.controls['employmentEnd'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.employee"
      [genericService]="employeeService"
      [objectName]="'Employee'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="employeeWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
      [object]="entity.staffType"
      [genericService]="staffTypeService"
      [objectName]="'StaffType'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="staffTypeWindowComponent"
    >
    </app-generic-autocomplete>

    <mat-checkbox formControlName="active">Is active</mat-checkbox>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
    </form>

  </div>
