<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

  <div *ngIf="add; else edit" >
   <h3>Add country</h3>
  </div>

  <ng-template #edit>
    <h3>Edit country</h3>
  </ng-template>


  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

    <mat-form-field class="form-element">
      <input matInput placeholder="name" formControlName="name">
      <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>


    <!--  <div class="form-element">-->
    <!--    <mat-checkbox formControlName="validate" value="1">Name min. 3 characters</mat-checkbox>-->
    <!--  </div>-->

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>

</div>

