  <div class="row" id="lineChart">

  </div>
  <div class="row">
    <div class="col-sm">
      <div id="barChart" style="min-width: 310px; max-width: 100%; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-sm">
      <div id="pieChart" style="width:100%; height:400px;"></div>
    </div>
  </div>

