<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

    <div *ngIf="add; else edit" >
      <h3>Add subject examination details</h3>
    </div>

    <ng-template #edit>
      <h3>Edit subject examination details</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input type="datetime-local" matInput placeholder="Date and time" formControlName="dateAndTime">
        <mat-error *ngIf="!formGroup.controls['dateAndTime'].valid && formGroup.controls['dateAndTime'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.subjectExaminationType"
      [genericService]="subjectExaminationTypeService"
      [objectName]="'SubjectExaminationType'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="subjectExaminationTypeWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
    [object]="entity.subjectRealisation"
    [genericService]="subjectRealisationService"
    [objectName]="'SubjectRealisation'"
    [filterByAttribute]="'id'"
    [formGroup]="formGroup"
    [newObjectWindow]="subjectRealisationWindowComponent"
  >
  </app-generic-autocomplete>

  <mat-checkbox formControlName="active">Is active</mat-checkbox>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
    </form>

  </div>
