<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

    <div *ngIf="add; else edit" >
      <h3>Add subject realisation notification</h3>
    </div>

    <ng-template #edit>
      <h3>Edit subject realisation notification</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input matInput placeholder="Notification" formControlName="notification">
        <mat-error *ngIf="!formGroup.controls['notification'].valid && formGroup.controls['notification'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input type="datetime-local" matInput placeholder="Publish date" formControlName="publishDate">
        <mat-error *ngIf="!formGroup.controls['publishDate'].valid && formGroup.controls['publishDate'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.publisher"
      [genericService]="employeeService"
      [objectName]="'Publisher'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="employeeWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
      [object]="entity.subjectRealisation"
      [genericService]="subjectRealisationService"
      [objectName]="'SubjectRealisation'"
      [filterByAttribute]="'id'"
      [formGroup]="formGroup"
      [newObjectWindow]="subjectRealisationWindowComponent"
    >
    </app-generic-autocomplete>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
    </form>

  </div>
