<button class="close" mat-dialog-close>x</button>

<div class="container">

  <div *ngIf="add; else edit" >
    <h3>Add file</h3>
  </div>

  <ng-template #edit>
    <h3>Replace file or Save</h3>
  </ng-template>

  <form [formGroup]="formGroup" (ngSubmit)="upload()" class="form">

    <button type="button" mat-raised-button color="primary" (click)="saveFileToDisk()" *ngIf="!add">Download file</button>

    <div class="form-element">
      <input type="file" placeholder="File" (change)="fileChange($event)">
    </div>


    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!valid">Submit Form</button>
    </div>
  </form>

</div>
