<app-administration-header (emmitCloseSidebar)="openSidebarFn()"></app-administration-header>
<div class="content">
  <mat-drawer-container>
    <mat-drawer mode="side" [(opened)]="openSidebar" >
      <app-administration-sidebar></app-administration-sidebar>
    </mat-drawer>
    <mat-drawer-content>

      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
<app-administration-footer></app-administration-footer>
