
  <mat-form-field>
    <input type="password" matInput placeholder="New password" [(ngModel)]="password">
  </mat-form-field>
  <br>
  <div>
    <button mat-raised-button type="button" color="primary" (click)="changeUserPassword()" class="button" >Change password</button>
  </div>


