<p>fs-file works!</p>
<button (click)="saveFileToDisk()">Download file id: 1</button>

<form (ngSubmit)="upload()">
  <input type="file" (change)="fileChange($event)">
  <button type="submit">Upload file</button>
</form>
