<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

    <div *ngIf="add; else edit" >
      <h3>Add schedule realisation</h3>
    </div>

    <ng-template #edit>
      <h3>Edit schedule realisation</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input type="datetime-local" matInput placeholder="Start time" formControlName="startTime">
        <mat-error *ngIf="!formGroup.controls['startTime'].valid && formGroup.controls['startTime'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input type="datetime-local" matInput placeholder="End time" formControlName="endTime">
        <mat-error *ngIf="!formGroup.controls['endTime'].valid && formGroup.controls['endTime'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.classroom"
      [genericService]="classroomService"
      [objectName]="'Classroom'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="classroomWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
      [object]="entity.subjectRealisation"
      [genericService]="subjectRealisationService"
      [objectName]="'SubjectRealisation'"
      [filterByAttribute]="'id'"
      [formGroup]="formGroup"
      [newObjectWindow]="subjectRealisationWindowComponent"
    >
    </app-generic-autocomplete>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
    </form>

  </div>
