<div class="container">


  <ng-container *ngFor="let mi of menuItems">
    <ng-container *ngIf="getSubMenu(mi)">
      <button mat-button [matMenuTriggerFor]="menu">{{mi.name}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  *ngFor="let sub of getSubMenu(mi)" [routerLink]="[sub.route]">{{sub.name}}</button>
      </mat-menu>
    </ng-container>

    <ng-container *ngIf="!getSubMenu(mi)">
      <button mat-button [routerLink]="[mi.route]">{{mi.name}}</button>
    </ng-container>
  </ng-container>
</div>
