
<mat-form-field>
  <input type="email" matInput placeholder="New email" [(ngModel)]="email">
</mat-form-field>
<br>
<div>
  <button mat-raised-button type="button" color="primary" (click)="changeUserEmail()" class="button" >Change email</button>
</div>

