<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add subject realisation</h3>
    </div>

    <ng-template #edit>
      <h3>Edit subject realisation</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <app-generic-autocomplete
        [object]="entity.academicYear"
        [genericService]="academicYearService"
        [objectName]="'AcademicYear'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="academicYearWindowComponent"
      >
      </app-generic-autocomplete>

      <app-generic-autocomplete
        [object]="entity.subject"
        [genericService]="subjectService"
        [objectName]="'Subject'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="subjectWindowComponent"
      >
      </app-generic-autocomplete>

      <app-generic-autocomplete
        [object]="entity.subjectRealisationType"
        [genericService]="subjectRealisationTypeService"
        [objectName]="'SubjectRealisationType'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="subjectRealisationTypeWindowComponent"
      >
      </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>

  <div *ngIf="!add && entity.subjectRealisationMaterialsNum > 0">
    <button mat-raised-button color="link" class="text-primary" [routerLink]="['/admin/realisation/' + entity.id + '/material']">View realisation material</button>
  </div>

  </div>
