<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add subject examination</h3>
    </div>

    <ng-template #edit>
      <h3>Edit subject examination</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

<!--      <mat-form-field class="form-element">-->
<!--        <input type="datetime-local" matInput placeholder="Date and time" formControlName="dateAndTime">-->
<!--        <mat-error *ngIf="!formGroup.controls['dateAndTime'].valid && formGroup.controls['dateAndTime'].touched">-->
<!--          {{ titleAlert }}-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->

    <mat-form-field class="form-element">
      <input type="number" matInput placeholder="score" formControlName="score">
      <mat-error *ngIf="!formGroup.controls['score'].valid && formGroup.controls['score'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

      <app-generic-autocomplete
        [object]="entity.student"
        [genericService]="studentService"
        [objectName]="'Student'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="studentWindowComponent"
      >
      </app-generic-autocomplete>

      <app-generic-autocomplete
        [object]="entity.subjectExaminationDetails"
        [genericService]="subjectExaminationDetailsService"
        [objectName]="'SubjectExaminationDetails'"
        [filterByAttribute]="'id'"
        [formGroup]="formGroup"
        [newObjectWindow]="subjectExaminationDetailsWindowComponent"
      >
      </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>

  <div *ngIf="!add">
      <button mat-raised-button color="link" class="text-primary" [routerLink]="['/admin/examination/' + entity.subjectExaminationDetails.id + '/material']">View examination material ({{entity.subjectExaminationDetails.subjectExaminationMaterialsNum}})</button>
  </div>



  </div>
