
<mat-nav-list>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">User account info</a>
  <mat-divider></mat-divider>
  <h5 matSubheader><mat-icon>assignment_ind</mat-icon> <span class="menu-item-admin">Employee</span> </h5>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/employee">Employee</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/employeeType">Employee Type</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/staff">Staff</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/staff-type">Staff type</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/professor-on-realisation">Professor on realisation</a>
  <mat-divider></mat-divider>

  <h5 matSubheader><mat-icon>people</mat-icon><span class="menu-item-admin">Users</span></h5>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/user">User</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/user-role">User role</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/role">Role</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/student">Student</a>

  <mat-divider></mat-divider>


  <h5 matSubheader><mat-icon>location_on</mat-icon><span class="menu-item-admin">Locations</span> </h5>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/address">Address</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/city">City</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/country">Country</a>

  <mat-divider></mat-divider>

  <h5 matSubheader><mat-icon>school</mat-icon><span class="menu-item-admin">Universities</span> </h5>




  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/university">University</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/faculty">Faculty</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/classroom">Classroom</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/classroom-type">Classroom type</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/class-type">Class type</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/academic-year">Academic year</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/year-of-study">Year of study</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/study-program">Study program</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/examination-registration">Examination registration</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/entrance-exam">Entrance exam</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/entrance-exam-apply">Entrance exam applications</a>

  <mat-divider></mat-divider>
  <h5 matSubheader><mat-icon>schedule</mat-icon><span class="menu-item-admin">Schedule</span> </h5>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/schedule-realisation">Schedule realisation</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/schedule-examination">Schedule examination</a>

  <mat-divider></mat-divider>
  <h5 matSubheader><mat-icon>subject</mat-icon><span class="menu-item-admin">Subject</span> </h5>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subject">Subject</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subject-realisation">Subject realisation</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subject-realisation-type">Subject realisation type</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subject-realisation-notification">Subject realisation notification</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subject-examination">Subject examination</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subject-examination-details">Subject examination details</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subject-examination-type">Subject examination type</a>


  <mat-divider></mat-divider>
  <h5 matSubheader><mat-icon>edit</mat-icon><span class="menu-item-admin">Enrollment</span> </h5>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/enrolled-year-of-study">Enrolled year of study</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/enrolled-subject">Enrolled subject</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/enrollment-type">Enrollment type</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/enrollment-year-type">Enrollment year type</a>
</mat-nav-list>
