<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

  <div *ngIf="add; else edit" >
    <h3>Add subject examination material</h3>
  </div>

  <ng-template #edit>
    <h3>Edit subject examination material</h3>
  </ng-template>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">


    <app-generic-autocomplete
      [object]="entity.fsFile"
      [genericService]="fsFileService"
      [objectName]="'FsFile'"
      [filterByAttribute]="'fileName'"
      [formGroup]="formGroup"
      [newObjectWindow]="fsFileWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
      [object]="entity.subjectExaminationDetails"
      [genericService]="subjectExaminationDetailsService"
      [objectName]="'SubjectExaminationDetails'"
      [filterByAttribute]="'id'"
      [formGroup]="formGroup"
      [newObjectWindow]="subjectExaminationDetailsWindowComponent"
    >

    </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>
  </form>

</div>
