<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add User</h3>
    </div>

    <ng-template #edit>
      <h3>Edit User</h3>
    </ng-template>



    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

    <mat-form-field class="form-element">
        <input matInput placeholder="email" formControlName="email">
        <mat-error *ngIf="!formGroup.controls['email'].hasError('email') && formGroup.controls['email'].hasError('required')">
            {{ titleAlert }}
        </mat-error>
        <mat-error *ngIf="formGroup.controls['email'].hasError('email')">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="username" formControlName="username">
      <mat-error *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="password" formControlName="password">
      <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>


    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>

  </div>
