<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

    <div *ngIf="add; else edit" >
      <h3>Add examination registration</h3>
    </div>

    <ng-template #edit>
      <h3>Edit examination registration</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input type="date" matInput placeholder="Date of registration" formControlName="dateOfRegistration">
        <mat-error *ngIf="!formGroup.controls['dateOfRegistration'].valid && formGroup.controls['dateOfRegistration'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.scheduleExamination"
      [genericService]="scheduleExaminationService"
      [objectName]="'ScheduleExamination'"
      [filterByAttribute]="'id'"
      [formGroup]="formGroup"
      [newObjectWindow]="scheduleExaminationWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
    [object]="entity.student"
    [genericService]="studentService"
    [objectName]="'Student'"
    [filterByAttribute]="'name'"
    [formGroup]="formGroup"
    [newObjectWindow]="studentWindowComponent"
  >
  </app-generic-autocomplete>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
    </form>

  </div>
