<app-sudent-header  (emmitCloseSidebar)="openSidebarFn()"></app-sudent-header>
<div class="content">
  <mat-drawer-container>
    <mat-drawer mode="side" [(opened)]="openSidebar" >
      <app-sudent-sidebar></app-sudent-sidebar>
    </mat-drawer>
    <mat-drawer-content>

      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
<app-sudent-footer></app-sudent-footer>
