<button mat-raised-button color="warn" class="button confirm-button" (click)="exportToXML()">Export to XML</button>
<button mat-raised-button  class="button green" (click)="exportToXLS()">Export to Excel</button>
<button mat-raised-button color="accent"  class="button" (click)="exportPDF()">Export to PDF</button>
