<app-menu [menuItems]="menuItems"></app-menu>

<div class="container">
  <ul>
    <li>Phone: 021/3093 220</li>
    <li>Email: office@singidunum.ac.rs</li>
    <li>Location: Bulevar Mihajla Pupina, 21000 Novi Sad</li>
  </ul>
</div>

<div #map class="map"></div>
