<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

    <div *ngIf="add; else edit" >
      <h3>Add classroom</h3>
    </div>

    <ng-template #edit>
      <h3>Edit classroom</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input type="number" matInput placeholder="seats" formControlName="seats">
        <mat-error *ngIf="!formGroup.controls['seats'].valid && formGroup.controls['seats'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.classroomType"
      [genericService]="classroomTypeService"
      [objectName]="'ClassroomType'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="classroomTypeWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
    [object]="entity.faculty"
    [genericService]="facultyService"
    [objectName]="'Faculty'"
    [filterByAttribute]="'name'"
    [formGroup]="formGroup"
    [newObjectWindow]="facultyWindowComponent"
  >
  </app-generic-autocomplete>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
    </form>

  </div>
