<mat-nav-list>
  <h5 matSubheader><mat-icon>assignment_ind</mat-icon> <span class="menu-item-admin">User account info</span> </h5>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">User details</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/administration/student">Student</a>
  <mat-divider></mat-divider>
  <h5 matSubheader><mat-icon>schedule</mat-icon><span class="menu-item-admin">Schedule</span> </h5>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/administration/schedule-realisation">Schedule realisation</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/administration/schedule-examination">Schedule examination</a>
  <mat-divider></mat-divider>
</mat-nav-list>
