<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add enrolled subject</h3>
    </div>

    <ng-template #edit>
      <h3>Edit enrolled subject</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

        <app-generic-autocomplete
        [object]="entity.enrollmentType"
        [genericService]="enrollmentTypeService"
        [objectName]="'EnrollmentType'"
        [filterByAttribute]="'id'"
        [formGroup]="formGroup"
        [newObjectWindow]="enrollmentTypeWindowComponent"
      >
      </app-generic-autocomplete>

        <app-generic-autocomplete
        [object]="entity.student"
        [genericService]="studentService"
        [objectName]="'Student'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="studentWindowComponent"
      >
      </app-generic-autocomplete>

      <app-generic-autocomplete
        [object]="entity.subjectRealisation"
        [genericService]="subjectRealisationService"
        [objectName]="'SubjectRealisation'"
        [filterByAttribute]="'id'"
        [formGroup]="formGroup"
        [newObjectWindow]="subjectRealisationWindowComponent"
      >
      </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>


  </div>
