:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 200px;
}
mat-drawer-container {
  width: 100%;
}

.content {
  height: 100%;
}

body {
  background-color: white;
}
