<app-header (emmitCloseSidebar)="openSidebarFn()"></app-header>
<div class="content">
  <mat-drawer-container>
    <mat-drawer mode="side" [(opened)]="openSidebar" >
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>

      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
<app-footer></app-footer>
