/*table {*/
/*  width: 100%;*/
/*}*/

th.mat-sort-header-sorted {
  color: black;

}

.highlight{
  background: #f5f5f5;
}

.mat-table {

  overflow: auto;
  width: 100%;
  margin-bottom: 75px;
}
.table-content {
  height: calc( 100vh - 125px);
  overflow: auto;
  width: 100%;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

