<!--<mat-toolbar>-->
<!--  <span>LMS Learning Management System </span>-->
<!--</mat-toolbar>-->
<div class="table-content">
<mat-form-field class="form-element-search">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="searchFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="data" matSort>

  <ng-container *ngFor="let col of columnDefinitions" [matColumnDef]="col.name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.title }}</th>
    <td mat-cell *matCellDef="let row; index as s" (click)="selectElem(row)">
      {{ getProperty(row, col.name) }}
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"
      (click)="highlight(row)"></tr>


</table>

<footer>
  <mat-toolbar>
    <button *ngIf="enableNew" mat-button color="primary" (click)="emitNew.emit()">Add</button>
    <button *ngIf="enableEdit" mat-button color="primary" (click)="editSelected()" [disabled]="!selected">Show/Edit</button>
    <button *ngIf="enableDelete" mat-button color="warn" (click)="deleteSelected(selected)" [disabled]="!selected">Delete</button>
    <button *ngIf="enableRestore" mat-button color="warn" (click)="restoreSelected(selected)" [disabled]="activateRestore">Restore</button>
    <button *ngIf="enableExport" mat-button color="accent" (click)="export()">Export</button>
  </mat-toolbar>
</footer>
</div>
