<mat-nav-list>
  <h5 matSubheader><mat-icon>assignment_ind</mat-icon> <span class="menu-item-admin">User account info</span> </h5>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">User details</a>
  <div *ngIf="!authenticationService.isAdmin() && !authenticationService.isAdministration() && !authenticationService.isProfessor()">
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/entranceExamInfo">Entrance Exam info</a>
  <a mat-list-item routerLinkActive="list-item-active" (click)="entranceExamApply()">Entrance Exam application</a>
  </div>
  <mat-divider></mat-divider>
</mat-nav-list>
