<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

    <div *ngIf="add; else edit" >
      <h3>Add schedule examination</h3>
    </div>

    <ng-template #edit>
      <h3>Edit schedule examination</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input type="time" matInput placeholder="Begin time" formControlName="beginTime">
        <mat-error *ngIf="!formGroup.controls['beginTime'].valid && formGroup.controls['beginTime'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input type="time" matInput placeholder="End time" formControlName="endTime">
        <mat-error *ngIf="!formGroup.controls['endTime'].valid && formGroup.controls['endTime'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.subjectExaminationDetails"
      [genericService]="subjectExaminationDetailsService"
      [objectName]="'SubjectExaminationDetails'"
      [filterByAttribute]="'id'"
      [formGroup]="formGroup"
      [newObjectWindow]="subjectExaminationDetailsWindowComponent"
    >
    </app-generic-autocomplete>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
    </form>

  </div>
