<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add university</h3>
    </div>

    <ng-template #edit>
      <h3>Edit university</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

    <mat-form-field class="form-element">
      <input matInput placeholder="name" formControlName="name">
      <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="description" formControlName="description">
      <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

      <mat-form-field class="form-element">
      <input matInput placeholder="Phone number" formControlName="phoneNumber">
      <mat-error *ngIf="!formGroup.controls['phoneNumber'].valid && formGroup.controls['phoneNumber'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

      <app-generic-autocomplete
        [object]="entity.address"
        [genericService]="addressService"
        [objectName]="'Address'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="addressWindowComponent"
      >
      </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>

  </div>
