<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add user role</h3>
    </div>

    <ng-template #edit>
      <h3>Edit user role</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <app-generic-autocomplete
        [object]="entity.user"
        [genericService]="userService"
        [objectName]="'User'"
        [filterByAttribute]="'username'"
        [formGroup]="formGroup"
        [newObjectWindow]="userWindowComponent"
        [enableAdd]="false"
      >
      </app-generic-autocomplete>
      <div *ngIf="entity.user">
        {{entity.user.username}}
      </div>
      <app-generic-autocomplete
        [object]="entity.role"
        [genericService]="roleService"
        [objectName]="'Role'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="roleWindowComponent"
        [enableAdd]="false"

      >
      </app-generic-autocomplete>



    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>


  </div>
