<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
  <div *ngIf="add; else edit" >
    <h3>Add city</h3>
  </div>

  <ng-template #edit>
    <h3>Edit city</h3>
  </ng-template>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

  <mat-form-field class="form-element">
    <input matInput placeholder="name" formControlName="name">
    <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
      {{ titleAlert }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-element">
    <input matInput placeholder="zipCode" formControlName="zipCode">
    <mat-error *ngIf="!formGroup.controls['zipCode'].valid && formGroup.controls['zipCode'].touched">
      {{ titleAlert }}
    </mat-error>
  </mat-form-field>

    <app-generic-autocomplete
      [object]="entity.country"
      [genericService]="countryService"
      [objectName]="'Country'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="countryWindowComponent"
    >
    </app-generic-autocomplete>

  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
  </div>

</form>


</div>
