<mat-nav-list>



  <h5 matSubheader><mat-icon>assignment_ind</mat-icon> <span class="menu-item-admin">Subjects</span> </h5>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/city"> Active subjects</a>


  <h5 matSubheader><mat-icon>school</mat-icon> <span class="menu-item-admin"> Notifications</span></h5>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/city"> Subject notification</a>

  <h5 matSubheader><mat-icon>people</mat-icon> <span class="menu-item-admin"> Students</span> </h5>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/city"> Students</a>

  <h5 matSubheader><mat-icon>apartment</mat-icon> <span class="menu-item-admin"> Addresses</span> </h5>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/address">Address</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/city">City</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/country">Country</a>


</mat-nav-list>
