.login-box{

  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
.login-box-content{
  padding: 5px;
}
.form-element{
  padding: 20px;
}
.login-toolbar{
  padding: 20px;
}
.forgot-password-link{
  text-decoration: none;
  padding: 10px;
}
