<app-professor-header  (emmitCloseSidebar)="openSidebarFn()"></app-professor-header>
<div class="content">
  <mat-drawer-container>

    <mat-drawer mode="side"  [(opened)]="openSidebar" >
      <app-professor-sidebar></app-professor-sidebar>
    </mat-drawer>
    <mat-drawer-content>

      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
<app-professor-footer></app-professor-footer>
