
<app-menu [menuItems]="menuItems"></app-menu>

<div><img src="../../../assets/images/students.jpg" width="100%"></div>
<div class="container mt-5">
  <h4>Latest news</h4>
  <h5>Online courses</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget justo quis mi euismod accumsan at quis metus. Curabitur ornare tellus at ipsum accumsan,
    et lacinia erat tempor. Curabitur porttitor neque mi, quis feugiat purus ultricies in. Etiam auctor, diam sit amet dignissim sagittis, est libero ornare eros,
    ut condimentum orci nunc tincidunt nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia nunc a dapibus accumsan. Donec mattis placerat
    mi a tempor. Aenean quam metus, interdum sit amet nisl a, vulputate placerat ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

  <h5>Something</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget justo quis mi euismod accumsan at quis metus. Curabitur ornare tellus at ipsum accumsan,
    et lacinia erat tempor. Curabitur porttitor neque mi, quis feugiat purus ultricies in. Etiam auctor, diam sit amet dignissim sagittis, est libero ornare eros,
    ut condimentum orci nunc tincidunt nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia nunc a dapibus accumsan.</p>
</div>


