<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add year of study</h3>
    </div>

    <ng-template #edit>
      <h3>Edit year of study</h3>
    </ng-template>



    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>


      <div class="form-row">

        <mat-form-field class="form-element-80">
          <mat-label>Study program</mat-label>
          <input type="text" matInput formControlName="studyProgram" [matAutocomplete]="autoStudyProgram">
          <mat-autocomplete #autoStudyProgram="matAutocomplete" [displayWith]="displayFnStudyProgram" (optionSelected)="setStudyProgram($event.option.value)">
            <mat-option *ngFor="let option of filteredOptionsStudyProgram | async" [value]="option">
                {{option.name}}
              </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="form-element-30" *ngIf="add">
          <button mat-raised-button color="primary" type="button" class="button form-element-30" (click)="addStudyProgram()">Add Study Program</button>
        </div>


        <div class="form-element-30" *ngIf="!add">
          <button mat-raised-button color="primary" type="button" class="button form-element-30" (click)="editStudyProgram()">Edit Study Program</button>
        </div>

      </div>
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>


    </form>

  </div>
