<div class="container"  novalidate>

  <div *ngIf="add; else edit" >
    <h3>Add Entrance Exam Application</h3>
  </div>

  <ng-template #edit>
    <h3>Edit Entrance Exam Application</h3>
  </ng-template>



  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

    <mat-form-field class="form-element" disabled>
      <input matInput placeholder="User" formControlName="user" >
      <mat-error *ngIf="!formGroup.controls['user'].valid && formGroup.controls['user'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element" disabled>
      <input matInput placeholder="Date of application" formControlName="dateOfApplication" >
      <mat-error *ngIf="!formGroup.controls['dateOfApplication'].valid && formGroup.controls['dateOfApplication'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

     <app-generic-autocomplete
    [object]="entity.entranceExam"
    [genericService]="entranceExamService"
    [objectName]="'EntranceExam'"
    [filterByAttribute]="'name'"
    [formGroup]="formGroup"
    [newObjectWindow]="entranceExamWindowComponent"
    [disableEdit]="enableCbEdit"
    [enableAdd]="enableCbAdd"
    >
    </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>
  </form>

</div>
