<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="emmitCloseSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>User portal - LMS Learning system</span>

    <div fxFlex fxLayout="row"  fxFlexAlign="end" class="head-buttons" >
      <ul fxLayout="row" fxLayoutGap="20px" >
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button (click)="showInformationAboutApp()">
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>

        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
