<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add study program</h3>
    </div>

    <ng-template #edit>
      <h3>Edit student</h3>
    </ng-template>



    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Description" formControlName="description">
        <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.faculty"
      [genericService]="facultyService"
      [objectName]="'Faculty'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="facultyWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
    [object]="entity.studyProgramDirector"
    [genericService]="employeeService"
    [objectName]="'StudyProgramDirector'"
    [filterByAttribute]="'name'"
    [formGroup]="formGroup"
    [newObjectWindow]="employeeWindowComponent"
  >
  </app-generic-autocomplete>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>


    </form>

  </div>
