<!--<form class="example-form">-->
<!--    <mat-form-field class="example-full-width">-->
<!--      <input type="text"-->
<!--             placeholder={{objectName}}-->
<!--             aria-label="Number"-->
<!--             matInput-->
<!--             [formControl]="myControl"-->
<!--             [matAutocomplete]="auto">-->
<!--      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setObject($event.option.value)" >-->
<!--        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >-->
<!--          {{option[filteredValue]}}-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->

<!--    </mat-form-field>-->
<!--  </form>-->

  <!-- <app-generic-autocomplete [entityList]="entityList" [objectName]="'User'" [filteredValue]="'lastName'"></app-generic-autocomplete>  -->
  <!-- Example -->


<div class="form-row" [formGroup]="formGroup">

  <mat-form-field class="form-element-50">
    <mat-label>{{objectName}}</mat-label>
    <input type="text" matInput formControlName="{{formName}}" [matAutocomplete]="auto" >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()" (optionSelected)="setObject($event.option.value)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option[filterByAttribute]}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="form-element-30" *ngIf="enableAdd && object == null">
    <button mat-raised-button color="primary" type="button" class="button form-element-30" (click)="addObject()">Add {{objectName}}</button>
  </div>

  <div class="form-element-30" *ngIf="enableAdd && object != null">
    <button mat-raised-button color="primary" type="button" class="button form-element-30" (click)="editObject()">Edit {{objectName}}</button>
  </div>

</div>
