<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add professor on realisation</h3>
    </div>

    <ng-template #edit>
      <h3>Edit professor on realisation</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <app-generic-autocomplete
        [object]="entity.classType"
        [genericService]="classTypeService"
        [objectName]="'ClassType'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="classTypeWindowComponent"
      >
      </app-generic-autocomplete>

      <app-generic-autocomplete
        [object]="entity.employee"
        [genericService]="employeeService"
        [objectName]="'Employee'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="employeeWindowComponent"
      >
      </app-generic-autocomplete>

      <app-generic-autocomplete
        [object]="entity.subjectRealisation"
        [genericService]="subjectOnRealisationService"
        [objectName]="'SubjectRealisation'"
        [filterByAttribute]="'id'"
        [formGroup]="formGroup"
        [newObjectWindow]="subjectRealisationWindowComponent"
      >
      </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>


  </div>
