<div class="table-content">

<!--  <form [formGroup]="formGroup" class="form">-->

<!--    <mat-form-field class="form-element">-->
<!--      <input type="text" matInput placeholder="Name" formControlName="name">-->
<!--      <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">-->
<!--        {{ titleAlert }}-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="form-element">-->
<!--      <input type="number" matInput placeholder="seats" formControlName="seats">-->
<!--      <mat-error *ngIf="!formGroup.controls['seats'].valid && formGroup.controls['seats'].touched">-->
<!--        {{ titleAlert }}-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->



<!--    <div class="form-element">-->
<!--      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>-->
<!--    </div>-->
<!--  </form>-->
  <div class="user-form">
    <form>
      <mat-form-field>
        <input type="text" matInput placeholder="Username" [value]="user.username" disabled>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Email" [value]="user.email" disabled>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="changeEmail()" class="button">Change user email</button>
      <button mat-raised-button color="primary" (click)="changePassword()" class="button">Change user password</button>
    </form>
  </div>


</div>
