<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

  <div *ngIf="add; else edit" >
    <h3>Add address</h3>
  </div>

  <ng-template #edit>
    <h3>Edit address</h3>
  </ng-template>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

    <mat-form-field class="form-element">
      <input matInput placeholder="name" formControlName="name">
      <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="number" formControlName="number">
      <mat-error *ngIf="!formGroup.controls['number'].valid && formGroup.controls['number'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <app-generic-autocomplete
    [object]="entity.city"
    [genericService]="cityService"
    [objectName]="'City'"
    [filterByAttribute]="'name'"
    [formGroup]="formGroup"
    [newObjectWindow]="cityWindowComponent"
  >
  </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>
  </form>

</div>
