<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
    <div *ngIf="add; else edit" >
      <h3>Add subject</h3>
    </div>

    <ng-template #edit>
      <h3>Edit subject</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

    <mat-form-field class="form-element">
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Syllabus" formControlName="syllabus">
      <mat-error *ngIf="!formGroup.controls['syllabus'].valid && formGroup.controls['syllabus'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="score" formControlName="score">
      <mat-error *ngIf="!formGroup.controls['score'].valid && formGroup.controls['score'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

      <app-generic-autocomplete
        [object]="entity.yearOfStudy"
        [genericService]="yearOfStudyService"
        [objectName]="'YearOfStudy'"
        [filterByAttribute]="'name'"
        [formGroup]="formGroup"
        [newObjectWindow]="yearOfStudyWindowComponent"
      >
      </app-generic-autocomplete>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>


  </div>
