<app-user-header (emmitCloseSidebar)="openSidebarFn()"></app-user-header>
<div class="content">
  <mat-drawer-container>
    <mat-drawer mode="side" [(opened)]="openSidebar" >
      <app-user-sidebar></app-user-sidebar>
    </mat-drawer>
    <mat-drawer-content>

      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
<app-user-footer></app-user-footer>
