<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>
  <div *ngIf="add; else edit" >
    <h3>Add student</h3>
  </div>

  <ng-template #edit>
    <h3>Edit student</h3>
  </ng-template>



  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

    <mat-form-field class="form-element">
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Last Name" formControlName="lastName">
      <mat-error *ngIf="!formGroup.controls['lastName'].valid && formGroup.controls['lastName'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Index number" formControlName="indexNumber">
      <mat-error *ngIf="!formGroup.controls['indexNumber'].valid && formGroup.controls['indexNumber'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <app-generic-autocomplete
    [object]="entity.address"
    [genericService]="addressService"
    [objectName]="'address'"
    [filterByAttribute]="'name'"
    [formGroup]="formGroup"
    [newObjectWindow]="addressWindowComponent"
  >
  </app-generic-autocomplete>


    <app-generic-autocomplete
    [object]="entity.user"
    [genericService]="userService"
    [objectName]="'user'"
    [filterByAttribute]="'username'"
    [formGroup]="formGroup"
    [newObjectWindow]="userWindowComponent"
  >
  </app-generic-autocomplete>


    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>

</div>
