<div class="container"  novalidate>

  <div *ngIf="add; else edit" >
    <h3>Add entranceExam</h3>
  </div>

  <ng-template #edit>
    <h3>Edit entranceExam</h3>
  </ng-template>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

    <app-generic-autocomplete
      [object]="entity.academicYear"
      [genericService]="academicYearService"
      [objectName]="'AcademicYear'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="academicYearWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
      [object]="entity.studyProgram"
      [genericService]="studyProgramService"
      [objectName]="'StudyProgram'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="studyProgramWindowComponent"
    >
    </app-generic-autocomplete>

    <mat-form-field class="form-element">
      <input type="datetime-local" matInput placeholder="Start date" formControlName="startDate">
      <mat-error *ngIf="!formGroup.controls['startDate'].valid && formGroup.controls['startDate'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input type="datetime-local" matInput placeholder="End date" formControlName="endDate">
      <mat-error *ngIf="!formGroup.controls['endDate'].valid && formGroup.controls['endDate'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>
  </form>

</div>
