/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #424242;}

.example-container {
  background-color: #424242;
  border:none;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}
.form-element-50 {
  padding: 5px 0px 25px 2px;
  left: 5px;
}
.form-element-80 {
  padding: 5px 0px 25px 2px;
  width: 65%;
  left: 5px;
}
.form-element-30 {
  padding: 5px 0px 25px 2px;
  margin-left: 20px;
}
.form-element-button {
  padding: 5px 0px 25px 2px;
  width: 100%;
  display: inline;
}
.form-element-search {
  padding: 5px 0px 25px 2px;
  width: 50%;
  margin-left: 20px;
}
.close {
  font-size: 17px;
  padding: 5px;
  outline: none;
}


/*.button {*/
/*  width: 100%;*/
/*}*/

