<div class="error-message" *ngIf="dialogType=='error'">
  <h4>{{dialogMessage}}</h4>
</div>
<div *ngIf="dialogType!='error'">
  <h4>{{dialogMessage}}</h4>
</div>
<div class="form-element-confirmation">

  <button *ngIf="dialogType =='error'" mat-raised-button color="warn" class="button confirm-button" (click)="okButton()" >Close</button>

  <div *ngIf="dialogType=='info'; else elseMessage">
    <button mat-raised-button color="warn" class="button confirm-button" (click)="okButton()" >Close</button>
  </div>
  <ng-template #elseMessage>
    <button *ngIf="dialogType!='error'" mat-raised-button color="warn" class="button confirm-button" (click)="okButton()" >Yes</button>
    <button *ngIf="dialogType!='error'" mat-raised-button class="button confirm-button" (click)="cancelButton()">No</button>
  </ng-template>


</div>
