<button class="close" mat-dialog-close>x</button>

<div class="container"  novalidate>

    <div *ngIf="add; else edit" >
      <h3>Add enrolled year of study</h3>
    </div>

    <ng-template #edit>
      <h3>Edit enrolled year of study</h3>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">

      <mat-form-field class="form-element">
        <input type="datetime-local" matInput placeholder="dateOfEnrollment" formControlName="dateOfEnrollment">
        <mat-error *ngIf="!formGroup.controls['dateOfEnrollment'].valid && formGroup.controls['dateOfEnrollment'].touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <app-generic-autocomplete
      [object]="entity.academicYear"
      [genericService]="academicYearService"
      [objectName]="'AcademicYear'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="academicYearWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
      [object]="entity.student"
      [genericService]="studentService"
      [objectName]="'Student'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="studentWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
      [object]="entity.enrollmentYearType"
      [genericService]="enrollmentYearTypeService"
      [objectName]="'EnrollmentYearType'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="enrollmentYearTypeWindowComponent"
    >
    </app-generic-autocomplete>

    <app-generic-autocomplete
      [object]="entity.yearOfStudy"
      [genericService]="yearOfStudyService"
      [objectName]="'YearOfStudy'"
      [filterByAttribute]="'name'"
      [formGroup]="formGroup"
      [newObjectWindow]="yearOfStudyWindowComponent"
    >
    </app-generic-autocomplete>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
      </div>
    </form>

  </div>
